.login-image {
  background-image: url("../../../assets/login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-right {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form {
  width: 100%;
  max-width: 420px;
  padding: 3rem;
}