<div class="card shadow rounded d-flex flex-column" [ngClass]="mode == 'USER' ? 'user-size' : 'helpdesk-size'">

  <div class="card-header d-flex justify-content-between align-items-center py-2">
    <div class="flex-grow-1 text-center fw-bold">
      {{ mode === 'HELP_DESK' ? 'Customer chat' : selectedRecipientName }}
    </div>
    <button *ngIf="mode === 'USER'" class="btn btn-sm btn-outline-danger" (click)="closeChat()">
      <i class="bi bi-x-circle"></i> Start new chat
    </button>
    <button class="btn btn-sm btn-outline-secondary" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="chat-area d-flex flex-column flex-grow-1">
    <div class="chat-scroll px-2" #scrollContainer>
      <ng-container *ngIf="msgs$ | async as msgs">
        <div *ngFor="let msg of msgs; let i = index" [ngClass]="{
               'text-end': msg.sender_role === 'USER',
               'text-start': msg.sender_role === 'HELP_DESK',
               'mt-1': i === 0 || msgs[i-1].sender_role !== msg.sender_role
             }">

          <div *ngIf="i === 0 || msgs[i-1].sender_role !== msg.sender_role">
            <span class="sender-name">
              {{ msg.sender_role === mode ? 'You' : (mode === 'USER' ? 'Help Desk' : 'User') }}
            </span>
          </div>

          <div class="chat-bubble">
            <span [innerHTML]="msg.message"></span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="card-footer p-2">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="text" (keyup.enter)="send()" />
      <button class="btn btn-primary" (click)="send()">Send</button>
    </div>
  </div>
</div>